$color-primary:#55c57a;
$color-primary-light:#7de46b;
$color-primary-dark:#28b485;

$color-secondary-light:orange;
$color-secondary-dark:orangered;

$color-thirtioary-light:rgb(15, 78, 216);
$color-thirtioary-dark:rgb(41, 1, 78);

$color-gray-dark:#777;
$color-gray-dark-2:rgb(37, 37, 37);
$color-gray-light:rgb(245, 245, 245);
$color-gray-light-2:rgb(214, 214, 214);
$color-white:#fff;
$color-black:#000;

$margin-left:4rem;