.header{
    position: relative;
    
    &__logo{
        width: 10rem;
        position: absolute;
        left: 6rem;
        top: 8rem;
        transform: translate(-50%,-50%);
        font-size: 1.6rem;
        text-align: center;

        &-image{
            width: 50%;
        }   
    }

    @include response(phone){
      
    }

    &__content{
        @include center;
        text-align: center;
        
    }

}