.nav{
    &__btn{
        width: 7rem;
        height: 7rem;
        background-color: $color-white;
        border-radius: 50%;
        border: none;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 3000;
        cursor: pointer;
        outline: none;
    }

    &__icon{
        width: 4rem;
        height: 2px;
        background-color: $color-black;
        position: fixed;
        top: 8.4rem;
        right: 6.5rem;
        z-index: 3100;
        transition: all 0.5s;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: -1.1rem;
            left: 0;
            background-color: $color-black;
            transition: top 0.1s;
            transition: transform 0.5s;
        }

        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 1.1rem;
            left: 0;
            background-color: $color-black;
            transition: all 0.1s;
        }
    }

    &__btn:hover ~ &__icon::after{
        top: -0.8rem;
    }

    &__btn:hover ~ &__icon::before{
        top: 0.8rem;
    }

    
    &__items{
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2500;
        transition: all 0.5s 0.1s;
    }

    &__list{
        list-style: none;
        @include center;
        font-size: 3rem;
        color: $color-white;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }

    &__item{
        padding: 2rem 0;
        cursor: pointer;
        overflow: hidden;


        &--link{
            text-align: center;
            padding: 1rem 1.5rem;
            background-image: linear-gradient(110deg,transparent 0%,transparent 50%,$color-white 50%);
            background-size: 210%;
            transition: all 0.2s;

            &:hover{
                color: $color-primary-dark;
                background-position: 100%;
            }
        }
    }

    &__background{
        width: 5rem;
        height: 5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        border-radius: 50%;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        z-index: 2000;
        transition: all 0.5s;
    }

    &__toggle:checked ~ &__background{
        transform: scale(65);
    }

    &__toggle:checked ~ &__items{
        width: 100%;
    }

    &__toggle:checked ~ &__items &__list{
        opacity: 1;
    }

    &__toggle:checked ~ &__icon{
        transform: rotate(135deg);
    }

    &__toggle:checked ~ &__icon::after{
        transform: rotate(-275deg);
        top: 0;
    }

    &__toggle:checked ~ &__icon::before{
        opacity: 0;
    }

    &__toggle{
        display: none;
    }
}