.header__primary{
    font-size: 5rem;
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 1.5rem;

}
.secondary__title{
    font-size: 1.5rem;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 1rem;

    
}

.header__secodary{
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    width: fit-content;
    @include bgTransparent;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:hover{
        transform:translateX(-50%) skewX(20deg);
    }
}

.header__tertiary{
    font-size: 1.6rem;
}